<h1> New game </h1>
<p> What is the longest word you can find? </p>
<blockquote><%= @letters %></blockquote>
<form action="/score" method="post">
  <input type="text" name="input" placeholder="Plese, enter a letter here">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
